h1{
    color: orange;
    background-color: slategrey;
    text-align: center;
}
p{
    color: slategray;
    text-align: right;
}
ul{
    /* border: 4px solid crimson; */
    border-bottom: 8px dashed green;
    border-left: 4px solid crimson;
}
li{
    list-style-type: none;
}